h1 {
	color: red;
	text-align: center;
	font-family: Georgia;
	text-decoration: underline;
}

body {
	background-color: #C3C3C3;
}

p {
	color: #ffffff;
	text-align: center; 
}

ul{
	color: #ffffff;

}